.p-Home.Flex1 {
display: flex;
align-items: center;
justify-content: space-around;
padding-top: 20px;
padding-bottom: 30px;
font-size: 18px;
background-color: #ffffff;
color: #696969;
position: static;
}
.p-Home.Flex2 {
display: flex;
column-gap: 30px;
align-items: center;
width: ;
}
.p-Home.Flex3 {
display: flex;
}
.p-Home.Flex5 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex6 {
display: flex;
column-gap: 30px;
justify-content: flex-start;
}
.p-Home.Flex7 {
display: flex;
}
.p-Home.Flex12 {
display: flex;
background-color: #ff7629;
width: ;
justify-content: flex-start;
margin-left: ;
flex-direction: row;
position: relative;
}
.p-Home.Flex8 {
display: flex;
padding-left: 150px;
padding-top: 100px;
flex-direction: column;
font-size: 40px;
align-self: auto;
flex-grow: 1;
width: ;
row-gap: 20px;
justify-content: flex-start;
align-items: flex-start;
column-gap: ;
align-content: stretch;
}
.p-Home.Flex9 {
display: flex;
flex-direction: column;
font-size: 50px;
}
.p-Home.Flex10 {
display: flex;
}
.p-Home.Flex11 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex15 {
display: flex;
justify-content: center;
padding-top: 75px;
flex-direction: column;
row-gap: 20px;
align-items: center;
font-size: 21px;
}
.p-Home.Flex16 {
display: flex;
column-gap: 60px;
}
.p-Home.Flex17 {
display: flex;
column-gap: 60px;
}
.p-Home.Flex18 {
display: flex;
flex-direction: column;
padding-top: 150px;
align-items: center;
row-gap: 40px;
padding-bottom: 100px;
}
.p-Home.Flex19 {
display: flex;
row-gap: 30px;
}
.p-Home.Flex20 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex21 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
border-radius: 15px;
border-style: solid;
border-color: #cecece;
padding-top: 40px;
padding-bottom: 40px;
}
.p-Home.Flex24 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
border-radius: 15px;
border-style: solid;
border-color: #cecece;
padding-top: 40px;
padding-bottom: 40px;
}
.p-Home.Flex25 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
border-radius: 15px;
border-style: solid;
border-color: #cecece;
padding-top: 40px;
padding-bottom: 40px;
}
.p-Home.Flex26 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
border-radius: 15px;
border-style: solid;
border-color: #cecece;
padding-top: 40px;
padding-bottom: 40px;
}
.p-Home.Flex27 {
display: flex;
row-gap: ;
column-gap: 30px;
}
.p-Home.Flex28 {
display: flex;
padding-top: 150px;
padding-left: 150px;
box-sizing: content-box;
align-items: flex-start;
justify-content: center;
background-color: #fff9f3;
flex-wrap: nowrap;
align-content: stretch;
}
.p-Home.Flex29 {
display: flex;
padding-bottom: 200px;
width: 50%;
align-items: center;
box-sizing: content-box;
}
.p-Home.Flex30 {
display: flex;
background-color: #ffffff;
flex-direction: column;
padding-left: 50px;
padding-right: 20px;
padding-top: 50px;
padding-bottom: 50px;
row-gap: 20px;
border-radius: 25px;
position: relative;
top: 200px;
box-sizing: border-box;
right: 300px;
}
.p-Home.Flex31 {
display: flex;
width: 300px;
row-gap: ;
column-gap: 20px;
}
.p-Home.Flex34 {
display: flex;
width: 350px;
row-gap: ;
column-gap: 20px;
}
.p-Home.Flex35 {
display: flex;
width: 300px;
row-gap: ;
column-gap: 20px;
}
.p-Home.Flex36 {
display: flex;
flex-grow: 1;
align-items: flex-start;
padding-top: 100px;
flex-direction: column;
column-gap: ;
width: 50%;
row-gap: 25px;
}
.p-Home.Flex37 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex38 {
display: flex;
padding-top: 150px;
row-gap: 20px;
flex-direction: column;
justify-content: center;
align-items: center;
}
.p-Home.Flex39 {
display: flex;
flex-direction: column;
row-gap: 30px;
width: ;
}
.p-Home.Flex40 {
display: flex;
width: ;
row-gap: ;
column-gap: 25px;
}
.p-Home.Flex60 {
display: flex;
width: ;
height: ;
column-gap: 20px;
}
.p-Home.Card_1 {
display: flex;
row-gap: 10px;
flex-direction: column;
align-items: center;
width: ;
height: ;
}
.p-Home.Flex43 {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #fffbfb;
border-radius: 15px;
top: 60px;
left: 60px;
position: relative;
}
.p-Home.Card_2 {
display: flex;
row-gap: 10px;
flex-direction: column;
align-items: center;
width: 100%;
}
.p-Home.Flex44 {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #fffbfb;
border-radius: 15px;
top: 60px;
left: 60px;
position: relative;
}
.p-Home.Flex65 {
display: flex;
width: ;
height: ;
column-gap: 20px;
}
.p-Home.Flex63 {
display: flex;
row-gap: 10px;
flex-direction: column;
align-items: center;
}
.p-Home.Flex61 {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #fffbfb;
border-radius: 15px;
top: 60px;
left: 60px;
position: relative;
}
.p-Home.Flex64 {
display: flex;
row-gap: 10px;
flex-direction: column;
align-items: center;
width: ;
height: ;
}
.p-Home.Flex62 {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #fffbfb;
border-radius: 15px;
top: 60px;
left: 60px;
position: relative;
}
.p-Home.Flex76 {
display: flex;
width: ;
row-gap: ;
column-gap: 25px;
}
.p-Home.Flex74 {
display: flex;
width: ;
height: ;
column-gap: 20px;
}
.p-Home.Flex70 {
display: flex;
row-gap: 10px;
flex-direction: column;
align-items: center;
width: ;
height: ;
}
.p-Home.Flex66 {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #fffbfb;
border-radius: 15px;
top: 60px;
left: 60px;
position: relative;
}
.p-Home.Flex71 {
display: flex;
row-gap: 10px;
flex-direction: column;
align-items: center;
}
.p-Home.Flex67 {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #fffbfb;
border-radius: 15px;
top: 60px;
left: 60px;
position: relative;
}
.p-Home.Flex75 {
display: flex;
width: ;
height: ;
column-gap: 20px;
}
.p-Home.Flex72 {
display: flex;
row-gap: 10px;
flex-direction: column;
align-items: center;
}
.p-Home.Flex68 {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #fffbfb;
border-radius: 15px;
top: 60px;
left: 60px;
position: relative;
}
.p-Home.Flex73 {
display: flex;
row-gap: 10px;
flex-direction: column;
align-items: center;
width: ;
height: ;
}
.p-Home.Flex69 {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #fffbfb;
border-radius: 15px;
top: 60px;
left: 60px;
position: relative;
}
.p-Home.Flex77 {
display: flex;
padding-bottom: 200px;
column-gap: 30px;
}
.p-Home.Flex78 {
display: flex;
}
.p-Home.Flex79 {
display: flex;
flex-direction: column;
background-color: #FF7629;
align-items: flex-start;
justify-content: center;
padding-top: 90px;
padding-bottom: 100px;
row-gap: 33px;
padding-left: 150px;
box-sizing: border-box;
}
.p-Home.Flex80 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex81 {
display: flex;
}
.p-Home.Flex82 {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 150px;
padding-bottom: 150px;
row-gap: 20px;
}
.p-Home.Flex83 {
display: flex;
}
.p-Home.Flex95 {
display: flex;
align-items: center;
column-gap: 50px;
justify-content: center;
}
.p-Home.Flex84 {
display: flex;
align-items: center;
justify-content: center;
font-size: 50px;
}
.p-Home.Flex85 {
display: flex;
flex-direction: column;
padding-bottom: 40px;
padding-left: 50px;
padding-right: 50px;
padding-top: 50px;
box-sizing: border-box;
border-style: solid;
border-color: #d5d5d5;
border-radius: 25px;
width: 50%;
row-gap: 10px;
}
.p-Home.Flex86 {
display: flex;
column-gap: 8px;
}
.p-Home.Flex87 {
display: flex;
}
.p-Home.Flex88 {
display: flex;
}
.p-Home.Flex89 {
display: flex;
}
.p-Home.Flex90 {
display: flex;
}
.p-Home.Flex91 {
display: flex;
}
.p-Home.Flex92 {
display: flex;
flex-direction: row;
row-gap: ;
align-items: center;
padding-top: 10px;
column-gap: 25px;
}
.p-Home.Flex93 {
display: flex;
row-gap: 2px;
flex-direction: column;
}
.p-Home.Flex96 {
display: flex;
align-items: center;
justify-content: center;
font-size: 50px;
}
.p-Home.Flex97 {
display: flex;
align-items: center;
justify-content: center;
column-gap: 50px;
}
.p-Home.Flex98 {
display: flex;
padding-top: 150px;
padding-left: 100px;
padding-right: 100px;
width: ;
padding-bottom: 100px;
color: #000000;
flex-direction: column;
background-color: #fff9f3;
}
.p-Home.Flex99 {
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
padding-bottom: 30px;
box-sizing: content-box;
}
.p-Home.Flex101 {
display: flex;
padding-top: 20px;
padding-right: 20px;
padding-left: 20px;
padding-bottom: 20px;
color: #ffffff;
border-radius: 35px;
background-color: #ffffff;
}
.p-Home.Flex102 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex106 {
display: flex;
column-gap: ;
width: 50%;
flex-direction: column;
background-color: #fffefe;
border-radius: 35px;
row-gap: 10px;
}
.p-Home.Flex107 {
display: flex;
width: 60%;
flex-direction: column;
row-gap: 30px;
}
.p-Home.Flex108 {
display: flex;
column-gap: 30px;
align-items: center;
justify-content: center;
}
.p-Home.Flex103 {
display: flex;
width: 40%;
flex-direction: column;
row-gap: 10px;
border-radius: 35px;
background-color: #fffefe;
border-style: none;
padding-bottom: 20px;
}
.p-Home.Flex113 {
display: flex;
width: 40%;
flex-direction: column;
row-gap: 10px;
border-radius: 35px;
background-color: #fffefe;
border-style: none;
padding-bottom: 20px;
}
.p-Home.Flex112 {
display: flex;
column-gap: 30px;
align-items: center;
justify-content: center;
}
.p-Home.Flex114 {
display: flex;
width: 40%;
flex-direction: column;
row-gap: 10px;
border-radius: 35px;
background-color: #fffefe;
border-style: none;
padding-bottom: 20px;
}
.p-Home.Flex115 {
display: flex;
width: 40%;
flex-direction: column;
row-gap: 10px;
border-radius: 35px;
background-color: #fffefe;
border-style: none;
padding-bottom: 20px;
}
.p-Home.Flex116 {
display: flex;
}
.p-Home.Flex117 {
display: flex;
align-items: flex-start;
flex-direction: column;
justify-content: center;
row-gap: 20px;
padding-top: 100px;
padding-left: 150px;
padding-right: ;
padding-bottom: 100px;
width: 50%;
}
.p-Home.Flex119 {
display: flex;
width: 50%;
row-gap: ;
column-gap: 25px;
}
.p-Home.Flex120 {
display: flex;
width: 300px;
row-gap: ;
column-gap: 20px;
}
.p-Home.Flex121 {
display: flex;
width: 300px;
row-gap: ;
column-gap: 20px;
}
.p-Home.Flex122 {
display: flex;
background-color: #ff7629;
width: 50%;
padding-top: 100px;
padding-bottom: 100px;
align-items: flex-start;
border-style: none;
}
.p-Home.Flex123 {
display: flex;
padding-top: 80px;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 30px;
border-radius: 40px;
font-size: 18px;
right: 140px;
border-color: #d9d4d4;
border-style: solid;
row-gap: 20px;
background-color: #ffffff;
flex-direction: column;
position: relative;
}
.p-Home.Flex124 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex125 {
display: flex;
row-gap: 20px;
flex-direction: column;
}
.p-Home.Flex126 {
display: flex;
row-gap: 20px;
flex-direction: column;
}
.p-Home.Flex133 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex131 {
display: flex;
row-gap: 20px;
flex-direction: column;
}
.p-Home.Flex132 {
display: flex;
row-gap: 20px;
flex-direction: column;
}
.p-Home.Flex136 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex134 {
display: flex;
row-gap: 20px;
flex-direction: column;
}
.p-Home.Flex135 {
display: flex;
row-gap: 20px;
flex-direction: column;
}
.p-Home.Flex144 {
display: flex;
row-gap: 20px;
flex-direction: column;
}
.p-Home.Flex145 {
display: flex;
padding-bottom: 150px;
padding-top: 150px;
padding-left: 100px;
padding-right: 100px;
align-items: center;
flex-direction: column;
background-color: #fff9f3;
column-gap: 40px;
}
.p-Home.Flex146 {
display: flex;
width: 100%;
padding-bottom: 30px;
justify-content: space-between;
align-items: center;
}
.p-Home.Flex147 {
display: flex;
padding-top: 15px;
padding-bottom: 15px;
padding-right: 30px;
padding-left: 30px;
border-radius: 35px;
background-color: #ff7629;
}
.p-Home.Flex148 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex151 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex153 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex154 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex155 {
display: flex;
padding-bottom: 50px;
padding-top: 100px;
padding-left: 150px;
padding-right: 150px;
justify-content: space-between;
column-gap: 40px;
}
.p-Home.Flex156 {
display: flex;
align-items: flex-start;
row-gap: 13px;
width: 40%;
flex-direction: column;
}
.p-Home.Flex157 {
display: flex;
width: 100%;
color: #6a6868;
column-gap: 10px;
}
.p-Home.Flex158 {
display: flex;
}
.p-Home.Flex159 {
display: flex;
padding-top: ;
padding-right: 5px;
padding-left: 5px;
row-gap: 10px;
flex-direction: column;
align-items: flex-start;
font-size: 20px;
}
.p-Home.Flex160 {
display: flex;
padding-top: ;
padding-right: 5px;
padding-left: ;
row-gap: 10px;
flex-direction: column;
align-items: flex-start;
font-size: 20px;
}
.p-Home.Flex161 {
display: flex;
row-gap: 20px;
flex-direction: column;
align-items: flex-start;
}
.p-Home.Flex165 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex163 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex164 {
display: flex;
column-gap: 30px;
}
.p-Home.Image1 {
;
}
.p-Home.TextBox6 {
;
}
.p-Home.TextBox7 {
;
}
.p-Home.TextBox8 {
;
}
.p-Home.TextBox9 {
;
}
.p-Home.TextBox10 {
;
}
.p-Home.Button2 {
color: #000000;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
outline-width: ;
outline-style: none;
}
.p-Home.Button3 {
color: #fff;
background-color: #ff7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff7629;
cursor: pointer;
user-select: none;
}
.p-Home.Image2 {
width: 400px;
border-radius: 50px;
padding-left: 40px;
padding-top: 40px;
padding-right: 40px;
padding-bottom: 40px;
margin-left: ;
position: relative;
background-position-x: ;
align-self: auto;
float: none;
right: 200px;
}
.p-Home.TextBox13 {
color: #757575;
font-size: 18px;
width: 70%;
}
.p-Home.TextBox11 {
;
}
.p-Home.TextBox12 {
color: #FF7629;
font-size: px;
}
.p-Home.Button4 {
color: #000000;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
outline-width: ;
outline-style: none;
}
.p-Home.Button5 {
color: #fff;
background-color: #ff7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff7629;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox14 {
;
}
.p-Home.Image3 {
;
}
.p-Home.Image4 {
width: 200px;
}
.p-Home.Image5 {
;
}
.p-Home.Image6 {
width: 200px;
}
.p-Home.TextBox15 {
font-size: 25px;
}
.p-Home.Image7 {
;
}
.p-Home.TextBox16 {
font-size: 20px;
}
.p-Home.TextBox17 {
width: 200px;
padding-left: 30px;
color: #676767;
font-size: 17px;
padding-right: 10px;
}
.p-Home.TextBox18 {
font-size: 17px;
color: #ff7629;
}
.p-Home.TextBox25 {
font-size: 17px;
color: #ff7629;
}
.p-Home.TextBox26 {
width: 200px;
padding-left: 30px;
color: #676767;
font-size: 17px;
padding-right: 10px;
}
.p-Home.TextBox27 {
font-size: 20px;
}
.p-Home.Image10 {
;
}
.p-Home.TextBox28 {
font-size: 17px;
color: #ff7629;
}
.p-Home.TextBox29 {
width: 200px;
padding-left: 30px;
color: #676767;
font-size: 17px;
padding-right: 10px;
}
.p-Home.TextBox30 {
font-size: 20px;
}
.p-Home.Image11 {
;
}
.p-Home.TextBox31 {
font-size: 17px;
color: #ff7629;
}
.p-Home.TextBox32 {
width: 200px;
padding-left: 30px;
color: #676767;
font-size: 17px;
padding-right: 10px;
}
.p-Home.TextBox33 {
font-size: 20px;
}
.p-Home.Image12 {
;
}
.p-Home.Button8 {
color: #fff;
background-color: #ff7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff7629;
cursor: pointer;
user-select: none;
}
.p-Home.Button9 {
color: #000000;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
outline-width: ;
outline-style: none;
}
.p-Home.Image13 {
width: 460px;
border-radius: 30px;
}
.p-Home.TextBox35 {
font-size: 20px;
}
.p-Home.Image18 {
;
}
.p-Home.TextBox36 {
width: ;
color: #8d8d8d;
}
.p-Home.TextBox39 {
width: 50%;
color: #8d8d8d;
}
.p-Home.Image21 {
;
}
.p-Home.TextBox40 {
width: 50%;
color: #8d8d8d;
}
.p-Home.Image22 {
;
}
.p-Home.TextBox41 {
font-size: 32px;
}
.p-Home.TextBox42 {
width: 80%;
background-color: ;
color: #8d8d8d;
}
.p-Home.TextBox43 {
width: 80%;
color: #8d8d8d;
}
.p-Home.Button10 {
color: #000000;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
outline-width: ;
outline-style: none;
}
.p-Home.Button11 {
color: #fff;
background-color: #ff7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff7629;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox44 {
font-size: 32px;
}
.p-Home.TextBox45 {
width: 50%;
color: #727272;
}
.p-Home.Image23 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox46 {
font-size: 24px;
}
.p-Home.TextBox48 {
width: 250px;
height: 50px;
max-height: 100px;
color: #686868;
}
.p-Home.TextBox47 {
;
}
.p-Home.TextBox50 {
width: 250px;
height: 50px;
max-height: 100px;
color: #686868;
}
.p-Home.TextBox51 {
font-size: 24px;
}
.p-Home.Image24 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox49 {
;
}
.p-Home.Image31 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox72 {
font-size: 24px;
}
.p-Home.TextBox73 {
width: 250px;
height: 50px;
max-height: 100px;
color: #686868;
}
.p-Home.TextBox70 {
;
}
.p-Home.TextBox74 {
width: 250px;
height: 50px;
max-height: 100px;
color: #686868;
}
.p-Home.TextBox75 {
font-size: 24px;
}
.p-Home.Image32 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox71 {
;
}
.p-Home.Image33 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox80 {
font-size: 24px;
}
.p-Home.TextBox81 {
width: 250px;
height: 50px;
max-height: 100px;
color: #686868;
}
.p-Home.TextBox76 {
;
}
.p-Home.TextBox82 {
width: 250px;
height: 50px;
max-height: 100px;
color: #686868;
}
.p-Home.TextBox83 {
font-size: 24px;
}
.p-Home.Image34 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox77 {
;
}
.p-Home.Image35 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox84 {
font-size: 24px;
}
.p-Home.TextBox85 {
width: 250px;
height: 50px;
max-height: 100px;
color: #686868;
}
.p-Home.TextBox78 {
;
}
.p-Home.TextBox86 {
width: 250px;
height: 50px;
max-height: 100px;
color: #686868;
}
.p-Home.TextBox87 {
font-size: 24px;
}
.p-Home.Image36 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox79 {
;
}
.p-Home.Button12 {
color: #fff;
background-color: #ff7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff7629;
cursor: pointer;
user-select: none;
}
.p-Home.Button14 {
color: #000000;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
outline-width: ;
outline-style: none;
}
.p-Home.TextBox88 {
font-size: 38px;
max-width: 80%;
color: #ffffff;
}
.p-Home.TextBox89 {
font-size: 16px;
color: #fffafa;
width: 80%;
}
.p-Home.Button15 {
color: #fff;
background-color: #ff7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
}
.p-Home.Button16 {
color: #000000;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
outline-width: ;
outline-style: none;
}
.p-Home.Image37 {
width: 100%;
}
.p-Home.TextBox91 {
font-size: 32px;
}
.p-Home.TextBox92 {
width: 50%;
color: #727272;
}
.p-Home.TextBox90 {
;
}
.p-Home.Image38 {
width: 50px;
height: 50px;
padding-top: 5px;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 5px;
font-size: ;
border-radius: 50px;
background-color: #ff7629;
}
.p-Home.TextBox93 {
font-size: 24px;
}
.p-Home.TextBox94 {
font-size: 14px;
color: #716f6f;
}
.p-Home.Image39 {
width: 30px;
height: 30px;
}
.p-Home.Image40 {
width: 30px;
height: 30px;
}
.p-Home.Image41 {
width: 30px;
height: 30px;
}
.p-Home.Image42 {
width: 30px;
height: 30px;
}
.p-Home.Image43 {
width: 30px;
height: 30px;
}
.p-Home.Image44 {
width: 50px;
height: 50px;
border-radius: 50%;
}
.p-Home.TextBox95 {
;
}
.p-Home.TextBox96 {
color: #595959;
}
.p-Home.Image47 {
width: 50px;
height: 50px;
padding-top: 5px;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 5px;
font-size: ;
border-radius: 50px;
background-color: #ff7629;
}
.p-Home.Button17 {
color: #000000;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
outline-width: ;
outline-style: none;
}
.p-Home.Button18 {
color: #fff;
background-color: #ff7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox97 {
font-size: 32px;
color: #000000;
}
.p-Home.TextBox98 {
color: #000000;
}
.p-Home.TextBox105 {
padding-left: 20px;
padding-right: 10px;
padding-bottom: 30px;
color: #8f8f8f;
}
.p-Home.TextBox106 {
font-size: 26px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox107 {
font-size: 15px;
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
color: #737373;
}
.p-Home.Image50 {
width: 100%;
border-bottom-left-radius: ;
border-bottom-right-radius: ;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
height: 70%;
}
.p-Home.TextBox99 {
font-size: 15px;
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
color: #737373;
}
.p-Home.TextBox100 {
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.Image48 {
width: 100%;
border-bottom-left-radius: ;
border-bottom-right-radius: ;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
height: ;
}
.p-Home.TextBox117 {
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox118 {
font-size: 15px;
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
color: #737373;
}
.p-Home.Image54 {
width: 100%;
border-bottom-left-radius: ;
border-bottom-right-radius: ;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
height: ;
}
.p-Home.TextBox119 {
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox120 {
font-size: 15px;
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
color: #737373;
}
.p-Home.Image55 {
width: 100%;
border-bottom-left-radius: ;
border-bottom-right-radius: ;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
height: ;
}
.p-Home.TextBox121 {
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox122 {
font-size: 15px;
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
color: #737373;
}
.p-Home.Image56 {
width: 100%;
border-bottom-left-radius: ;
border-bottom-right-radius: ;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
height: 70%;
}
.p-Home.TextBox123 {
font-size: 34px;
align-self: auto;
}
.p-Home.TextBox124 {
width: 50%;
font-size: 16px;
color: #727171;
}
.p-Home.Image58 {
width: 30px;
height: 30px;
}
.p-Home.TextBox125 {
width: ;
color: #717070;
}
.p-Home.Image59 {
width: 30px;
height: 30px;
}
.p-Home.TextBox126 {
width: ;
color: #8d8d8d;
}
.p-Home.TextBox127 {
width: ;
color: #8d8d8d;
}
.p-Home.Image60 {
width: 30px;
height: 30px;
}
.p-Home.Button19 {
color: #fff;
background-color: #ff7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
width: 40%;
}
.p-Home.TextBox128 {
;
}
.p-Home.Input1 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.Input2 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox129 {
;
}
.p-Home.TextBox133 {
;
}
.p-Home.Input6 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.Input7 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox134 {
;
}
.p-Home.TextBox135 {
;
}
.p-Home.Input8 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.Input9 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox136 {
;
}
.p-Home.Input15 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
height: 180px;
text-align: center;
}
.p-Home.TextBox142 {
;
}
.p-Home.TextBox143 {
font-size: 32px;
}
.p-Home.TextBox144 {
color: #ffffff;
font-size: 18px;
}
.p-Home.Image61 {
width: 300px;
height: 300px;
border-radius: 35px;
}
.p-Home.Image63 {
width: 300px;
height: 300px;
border-radius: 35px;
}
.p-Home.Image69 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image70 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image71 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image72 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image73 {
;
}
.p-Home.TextBox145 {
;
}
.p-Home.Image74 {
width: 30px;
height: 30px;
}
.p-Home.Image75 {
width: 30px;
height: 30px;
}
.p-Home.Image76 {
width: 30px;
height: 30px;
}
.p-Home.Image77 {
width: 30px;
height: 30px;
}
.p-Home.Image78 {
width: 30px;
height: 30px;
}
.p-Home.TextBox146 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox147 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 20px;
color: #000000;
}
.p-Home.TextBox148 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox149 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox150 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox151 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox152 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox153 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox154 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox155 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox156 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox157 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox158 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox159 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox160 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 20px;
}
.p-Home.TextBox161 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox162 {
font-size: 20px;
}
.p-Home.Image79 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image80 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image81 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image82 {
width: 145px;
height: 145px;
border-radius: 25px;
}
